{% extends 'base.html.twig' %}

{% block title %}
    Page interdite
<!-- en dév, on peut taper http://127.0.0.1:8000/_error/403 dans la barre d'adresse pour afficher cette page. On peut aussi passer temporairement en prod dans le fichier env  -->
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Alors, vous essayez de bousiller le site ?</h1>
        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'accéder à cette ressource !</p>
            <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à la page d'accueil</a>
        </div>

    </div>

{% endblock %}