{% extends 'base.html.twig' %}

{% block title %}
    Page non trouvée
{% endblock %}

<!-- en dév, on peut taper http://127.0.0.1:8000/_error/404 dans la barre d'adresse pour afficher cette page. On peut aussi passer temporairement en prod dans le fichier env  -->

{% block body %}

    <div class="container">
        <h1>Oups ! La page que vous cherchez n'existe pas.</h1>
        <p>On a sûrement dû mal vous renseigner... Aucun souci, vous pouvez retourner à l'accueil ou voir nos dernières annonces.</p>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à la page d'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-success">Voir nos annonces</a>
    </div>

{% endblock %}